{% extends 'tours/base.html' %}
{% block title %}Stepik Travel | из {{ departure }}{% endblock %}
{% block content %}

<h1 class="display-5 mt-4">Летим из <span data-test="from">{{ departure }}</span></h1>
<p class="mb-4">Найдено <span data-test="tourcount">{{ tours|length }}</span> туров, от <span
    data-test="pricemin">{{ tours_prices|first }}</span> до
  <span data-test="pricemax">{{ tours_prices|last }}</span> и от <span
    data-test="nightsmax">{{ tours_nights|first }}</span> ночей до <span
    data-test="nightsmax">{{ tours_nights|last }}</span> ночей</p>
<!-- HERO -->

<!-- CARDS -->

<div class="row mt-5" data-test="cards">

  {% for tour_id, tour in tours.items %}
    <div class="col-4" data-test="card">
      <div class="card mb-3">
        <a href="{% url 'tour' tour_id %}">
          {% if tour.picture %}
            <img src="{{ tour.picture }}" class="card-img-top img-fluid" data-test="picture"
              style="height: 230px;">
          {% else %}
            <img src="https://place-hold.it/300x200" class="card-img-top img-fluid" data-test="picture">
          {% endif %}
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ tour.title }} {{ tour.stars }} ★</h5>
          <p class="card-text">{{ tour.description|truncatechars:90 }}</p>
          <a href="{% url 'tour' tour_id %}" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
        </div>
      </div>
    </div>
  {% endfor %}

</div>

{% endblock %}